C 0 0 "AVDDH_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "AVDDH_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "TXRXP_A" 0 -100 0 0 60 0 L
X "PIN_TEXT" "TXRXP_A" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "TXRXM_A" 0 -200 0 0 60 0 L
X "PIN_TEXT" "TXRXM_A" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "AVDDL_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "AVDDL_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "TXRXP_B" 0 -400 0 0 60 0 L
X "PIN_TEXT" "TXRXP_B" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "TXRXM_B" 0 -500 0 0 60 0 L
X "PIN_TEXT" "TXRXM_B" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "TXRXP_C" 0 -600 0 0 60 0 L
X "PIN_TEXT" "TXRXP_C" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "TXRXM_C" 0 -700 0 0 60 0 L
X "PIN_TEXT" "TXRXM_C" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "AVDDL_2" 0 -800 0 0 60 0 L
X "PIN_TEXT" "AVDDL_2" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "TXRXP_D" 0 -900 0 0 60 0 L
X "PIN_TEXT" "TXRXP_D" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "TXRXM_D" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "TXRXM_D" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "AVDDH_2" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "AVDDH_2" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 400 -2600 "NC_1" 400 -2600 0 0 60 0 L
X "PIN_TEXT" "NC_1" 430 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -2400 400 -2600 -1 0
C 500 -2600 "DVDDL_1" 500 -2600 0 0 60 0 L
X "PIN_TEXT" "DVDDL_1" 530 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -2400 500 -2600 -1 0
C 600 -2600 "LED2/_PHYAD1" 600 -2600 0 0 60 0 L
X "PIN_TEXT" "LED2/_PHYAD1" 630 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -2400 600 -2600 -1 0
C 700 -2600 "DVDDH_1" 700 -2600 0 0 60 0 L
X "PIN_TEXT" "DVDDH_1" 730 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -2400 700 -2600 -1 0
C 800 -2600 "LED1_/_PME_N1_/_PHYAD0" 800 -2600 0 0 60 0 L
X "PIN_TEXT" "LED1_/_PME_N1_/_PHYAD0" 830 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -2400 800 -2600 -1 0
C 900 -2600 "DVDDL_2" 900 -2600 0 0 60 0 L
X "PIN_TEXT" "DVDDL_2" 930 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -2400 900 -2600 -1 0
C 1000 -2600 "TXD0" 1000 -2600 0 0 60 0 L
X "PIN_TEXT" "TXD0" 1030 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -2400 1000 -2600 -1 0
C 1100 -2600 "TXD1" 1100 -2600 0 0 60 0 L
X "PIN_TEXT" "TXD1" 1130 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -2400 1100 -2600 -1 0
C 1200 -2600 "TXD2" 1200 -2600 0 0 60 0 L
X "PIN_TEXT" "TXD2" 1230 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -2400 1200 -2600 -1 0
C 1300 -2600 "TXD3" 1300 -2600 0 0 60 0 L
X "PIN_TEXT" "TXD3" 1330 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -2400 1300 -2600 -1 0
C 1400 -2600 "DVDDL_3" 1400 -2600 0 0 60 0 L
X "PIN_TEXT" "DVDDL_3" 1430 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -2400 1400 -2600 -1 0
C 1500 -2600 "GTX_CLK" 1500 -2600 0 0 60 0 L
X "PIN_TEXT" "GTX_CLK" 1530 -2370 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -2400 1500 -2600 -1 0
C 2000 0 "MDC" 2000 0 0 0 60 0 R
X "PIN_TEXT" "MDC" 1770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 0 2000 0 -1 0
C 2000 -100 "RX_CLK/_PHYAD2" 2000 -100 0 0 60 0 R
X "PIN_TEXT" "RX_CLK/_PHYAD2" 1770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -100 2000 -100 -1 0
C 2000 -200 "DVDDH_2" 2000 -200 0 0 60 0 R
X "PIN_TEXT" "DVDDH_2" 1770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -200 2000 -200 -1 0
C 2000 -300 "RX_DV/_CLK125_EN" 2000 -300 0 0 60 0 R
X "PIN_TEXT" "RX_DV/_CLK125_EN" 1770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -300 2000 -300 -1 0
C 2000 -400 "RXD0/_MODE0" 2000 -400 0 0 60 0 R
X "PIN_TEXT" "RXD0/_MODE0" 1770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -400 2000 -400 -1 0
C 2000 -500 "RXD1/_MODE1" 2000 -500 0 0 60 0 R
X "PIN_TEXT" "RXD1/_MODE1" 1770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -500 2000 -500 -1 0
C 2000 -600 "DVDDL_5" 2000 -600 0 0 60 0 R
X "PIN_TEXT" "DVDDL_5" 1770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -600 2000 -600 -1 0
C 2000 -700 "VSS" 2000 -700 0 0 60 0 R
X "PIN_TEXT" "VSS" 1770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -700 2000 -700 -1 0
C 2000 -800 "RXD2/_MODE2" 2000 -800 0 0 60 0 R
X "PIN_TEXT" "RXD2/_MODE2" 1770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -800 2000 -800 -1 0
C 2000 -900 "RXD3/_MODE3" 2000 -900 0 0 60 0 R
X "PIN_TEXT" "RXD3/_MODE3" 1770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -900 2000 -900 -1 0
C 2000 -1000 "DVDDL_4" 2000 -1000 0 0 60 0 R
X "PIN_TEXT" "DVDDL_4" 1770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1000 2000 -1000 -1 0
C 2000 -1100 "TX_EN" 2000 -1100 0 0 60 0 R
X "PIN_TEXT" "TX_EN" 1770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1100 2000 -1100 -1 0
C 400 1400 "EP" 400 1400 0 0 60 0 R
X "PIN_TEXT" "EP" 430 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 400 1200 400 1400 -1 0
C 500 1400 "ISET" 500 1400 0 0 60 0 R
X "PIN_TEXT" "ISET" 530 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 500 1200 500 1400 -1 0
C 600 1400 "NC_2" 600 1400 0 0 60 0 R
X "PIN_TEXT" "NC_2" 630 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 600 1200 600 1400 -1 0
C 700 1400 "XI" 700 1400 0 0 60 0 R
X "PIN_TEXT" "XI" 730 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 700 1200 700 1400 -1 0
C 800 1400 "XO" 800 1400 0 0 60 0 R
X "PIN_TEXT" "XO" 830 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 800 1200 800 1400 -1 0
C 900 1400 "AVDDL_PLL" 900 1400 0 0 60 0 R
X "PIN_TEXT" "AVDDL_PLL" 930 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 900 1200 900 1400 -1 0
C 1000 1400 "LDO_O" 1000 1400 0 0 60 0 R
X "PIN_TEXT" "LDO_O" 1030 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 1200 1000 1400 -1 0
C 1100 1400 "RESET_N" 1100 1400 0 0 60 0 R
X "PIN_TEXT" "RESET_N" 1130 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 1200 1100 1400 -1 0
C 1200 1400 "CLK125_NDO/_LED_MODE" 1200 1400 0 0 60 0 R
X "PIN_TEXT" "CLK125_NDO/_LED_MODE" 1230 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 1200 1200 1400 -1 0
C 1300 1400 "DVDDH_3" 1300 1400 0 0 60 0 R
X "PIN_TEXT" "DVDDH_3" 1330 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 1200 1300 1400 -1 0
C 1400 1400 "DVDDL_6" 1400 1400 0 0 60 0 R
X "PIN_TEXT" "DVDDL_6" 1430 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 1200 1400 1400 -1 0
C 1500 1400 "INT_N/_PME_N2" 1500 1400 0 0 60 0 R
X "PIN_TEXT" "INT_N/_PME_N2" 1530 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 1200 1500 1400 -1 0
C 1600 1400 "MDIO" 1600 1400 0 0 60 0 R
X "PIN_TEXT" "MDIO" 1630 1170 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 1200 1600 1400 -1 0
L 200 1200 1800 1200 -1 0
L 1800 -2400 1800 1200 -1 0
L 1800 -2400 200 -2400 -1 0
L 200 1200 200 -2400 -1 0
P "$LOCATION" "?" 1850 1370 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

