C 0 0 "DPHY1_CKP" 0 0 0 0 60 0 L
X "PIN_TEXT" "DPHY1_CKP" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "DPHY1_CKN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DPHY1_CKN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "DPHY1_DP3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DP3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "DPHY1_DN3" 0 -300 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DN3" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "DPHY0_DN2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DN2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "DPHY0_DP0" 0 -500 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DP0" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "DPHY0_CKP" 0 -600 0 0 60 0 L
X "PIN_TEXT" "DPHY0_CKP" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "DPHY0_CKN" 0 -700 0 0 60 0 L
X "PIN_TEXT" "DPHY0_CKN" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "DPHY1_DP2" 0 -800 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DP2" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "DPHY1_DN2" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DN2" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "DPHY1_DP1" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DP1" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "DPHY1_DN1" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DN1" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "DPHY0_DP2" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DP2" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "DPHY0_DN0" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DN0" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "DPHY0_DP3" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DP3" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "DPHY0_DN3" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DN3" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "DPHY1_DP0" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DP0" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 0 -1700 "DPHY1_DN0" 0 -1700 0 0 60 0 L
X "PIN_TEXT" "DPHY1_DN0" 230 -1730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1700 0 -1700 -1 0
C 0 -1800 "PB47" 0 -1800 0 0 60 0 L
X "PIN_TEXT" "PB47" 230 -1830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1800 0 -1800 -1 0
C 0 -1900 "VCCPLL_DPHYX" 0 -1900 0 0 60 0 L
X "PIN_TEXT" "VCCPLL_DPHYX" 230 -1930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1900 0 -1900 -1 0
C 0 -2000 "VCCA_DPHYX" 0 -2000 0 0 60 0 L
X "PIN_TEXT" "VCCA_DPHYX" 230 -2030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2000 0 -2000 -1 0
C 0 -2100 "GNDA_DPHYX" 0 -2100 0 0 60 0 L
X "PIN_TEXT" "GNDA_DPHYX" 230 -2130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2100 0 -2100 -1 0
C 0 -2200 "DPHY0_DP1" 0 -2200 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DP1" 230 -2230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2200 0 -2200 -1 0
C 0 -2300 "DPHY0_DN1" 0 -2300 0 0 60 0 L
X "PIN_TEXT" "DPHY0_DN1" 230 -2330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2300 0 -2300 -1 0
C 0 -2400 "PB34B" 0 -2400 0 0 60 0 L
X "PIN_TEXT" "PB34B" 230 -2430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2400 0 -2400 -1 0
C 0 -2500 "PB34A" 0 -2500 0 0 60 0 L
X "PIN_TEXT" "PB34A" 230 -2530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2500 0 -2500 -1 0
C 0 -2600 "PB52" 0 -2600 0 0 60 0 L
X "PIN_TEXT" "PB52" 230 -2630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2600 0 -2600 -1 0
C 0 -2700 "GND_1" 0 -2700 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -2730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2700 0 -2700 -1 0
C 0 -2800 "VCC_1" 0 -2800 0 0 60 0 L
X "PIN_TEXT" "VCC_1" 230 -2830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2800 0 -2800 -1 0
C 0 -2900 "VCCAUX" 0 -2900 0 0 60 0 L
X "PIN_TEXT" "VCCAUX" 230 -2930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2900 0 -2900 -1 0
C 0 -3000 "PB16A" 0 -3000 0 0 60 0 L
X "PIN_TEXT" "PB16A" 230 -3030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3000 0 -3000 -1 0
C 0 -3100 "PB12A" 0 -3100 0 0 60 0 L
X "PIN_TEXT" "PB12A" 230 -3130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -3100 0 -3100 -1 0
C 1700 0 "PB51" 1700 0 0 0 60 0 R
X "PIN_TEXT" "PB51" 1470 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 0 1700 0 -1 0
C 1700 -100 "CRESET_B" 1700 -100 0 0 60 0 R
X "PIN_TEXT" "CRESET_B" 1470 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -100 1700 -100 -1 0
C 1700 -200 "PB48" 1700 -200 0 0 60 0 R
X "PIN_TEXT" "PB48" 1470 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -200 1700 -200 -1 0
C 1700 -300 "VCC_2" 1700 -300 0 0 60 0 R
X "PIN_TEXT" "VCC_2" 1470 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -300 1700 -300 -1 0
C 1700 -400 "GND_2" 1700 -400 0 0 60 0 R
X "PIN_TEXT" "GND_2" 1470 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -400 1700 -400 -1 0
C 1700 -500 "VCCIO2_1" 1700 -500 0 0 60 0 R
X "PIN_TEXT" "VCCIO2_1" 1470 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -500 1700 -500 -1 0
C 1700 -600 "PB16B" 1700 -600 0 0 60 0 R
X "PIN_TEXT" "PB16B" 1470 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -600 1700 -600 -1 0
C 1700 -700 "PB12B" 1700 -700 0 0 60 0 R
X "PIN_TEXT" "PB12B" 1470 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -700 1700 -700 -1 0
C 1700 -800 "PB53" 1700 -800 0 0 60 0 R
X "PIN_TEXT" "PB53" 1470 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -800 1700 -800 -1 0
C 1700 -900 "PB50" 1700 -900 0 0 60 0 R
X "PIN_TEXT" "PB50" 1470 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -900 1700 -900 -1 0
C 1700 -1000 "VCCIO0" 1700 -1000 0 0 60 0 R
X "PIN_TEXT" "VCCIO0" 1470 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1000 1700 -1000 -1 0
C 1700 -1100 "VCCIO1" 1700 -1100 0 0 60 0 R
X "PIN_TEXT" "VCCIO1" 1470 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1100 1700 -1100 -1 0
C 1700 -1200 "GND_3" 1700 -1200 0 0 60 0 R
X "PIN_TEXT" "GND_3" 1470 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1200 1700 -1200 -1 0
C 1700 -1300 "VCCIO2_2" 1700 -1300 0 0 60 0 R
X "PIN_TEXT" "VCCIO2_2" 1470 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1300 1700 -1300 -1 0
C 1700 -1400 "PB6A" 1700 -1400 0 0 60 0 R
X "PIN_TEXT" "PB6A" 1470 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1400 1700 -1400 -1 0
C 1700 -1500 "PB6B" 1700 -1500 0 0 60 0 R
X "PIN_TEXT" "PB6B" 1470 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1500 1700 -1500 -1 0
C 1700 -1600 "PB38D" 1700 -1600 0 0 60 0 R
X "PIN_TEXT" "PB38D" 1470 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1600 1700 -1600 -1 0
C 1700 -1700 "PB38C" 1700 -1700 0 0 60 0 R
X "PIN_TEXT" "PB38C" 1470 -1730 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1700 1700 -1700 -1 0
C 1700 -1800 "PB49" 1700 -1800 0 0 60 0 R
X "PIN_TEXT" "PB49" 1470 -1830 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1800 1700 -1800 -1 0
C 1700 -1900 "VCCGPLL" 1700 -1900 0 0 60 0 R
X "PIN_TEXT" "VCCGPLL" 1470 -1930 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -1900 1700 -1900 -1 0
C 1700 -2000 "PB29B" 1700 -2000 0 0 60 0 R
X "PIN_TEXT" "PB29B" 1470 -2030 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2000 1700 -2000 -1 0
C 1700 -2100 "PB29A" 1700 -2100 0 0 60 0 R
X "PIN_TEXT" "PB29A" 1470 -2130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2100 1700 -2100 -1 0
C 1700 -2200 "PB2D" 1700 -2200 0 0 60 0 R
X "PIN_TEXT" "PB2D" 1470 -2230 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2200 1700 -2200 -1 0
C 1700 -2300 "PB2C" 1700 -2300 0 0 60 0 R
X "PIN_TEXT" "PB2C" 1470 -2330 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2300 1700 -2300 -1 0
C 1700 -2400 "PB34D" 1700 -2400 0 0 60 0 R
X "PIN_TEXT" "PB34D" 1470 -2430 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2400 1700 -2400 -1 0
C 1700 -2500 "PB34C" 1700 -2500 0 0 60 0 R
X "PIN_TEXT" "PB34C" 1470 -2530 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2500 1700 -2500 -1 0
C 1700 -2600 "PB29C" 1700 -2600 0 0 60 0 R
X "PIN_TEXT" "PB29C" 1470 -2630 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2600 1700 -2600 -1 0
C 1700 -2700 "PB29D" 1700 -2700 0 0 60 0 R
X "PIN_TEXT" "PB29D" 1470 -2730 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2700 1700 -2700 -1 0
C 1700 -2800 "PB16D" 1700 -2800 0 0 60 0 R
X "PIN_TEXT" "PB16D" 1470 -2830 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2800 1700 -2800 -1 0
C 1700 -2900 "PB16C" 1700 -2900 0 0 60 0 R
X "PIN_TEXT" "PB16C" 1470 -2930 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -2900 1700 -2900 -1 0
C 1700 -3000 "PB12D" 1700 -3000 0 0 60 0 R
X "PIN_TEXT" "PB12D" 1470 -3030 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -3000 1700 -3000 -1 0
C 1700 -3100 "PB12C" 1700 -3100 0 0 60 0 R
X "PIN_TEXT" "PB12C" 1470 -3130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -3100 1700 -3100 -1 0
L 200 100 1500 100 -1 0
L 1500 -3200 1500 100 -1 0
L 1500 -3200 200 -3200 -1 0
L 200 100 200 -3200 -1 0
P "$LOCATION" "?" 1550 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

