// WidebandSDRExtIO Version Resource File
// This file defines version information for the DLL

#include <windows.h>

// Version information
#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"
#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0.0\0"
#define VER_COMPANYNAME_STR         "Wideband SDR Project\0"
#define VER_FILEDESCRIPTION_STR     "HDSDR/SDR# ExtIO Plugin for Wideband SDR\0"
#define VER_INTERNALNAME_STR        "WidebandSDRExtIO\0"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) 2025 Wideband SDR Project. All rights reserved.\0"
#define VER_ORIGINALFILENAME_STR    "WidebandSDRExtIO.dll\0"
#define VER_PRODUCTNAME_STR         "Wideband SDR ExtIO Plugin\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // English (US), Unicode
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // English (US), Unicode
    END
END
